

@media (min-width: 600px) {


      * {
            margin-top: 0;
            box-sizing: content-box;
      }
      
      body {
            margin: 0;
      }
      
      
      /*  this is the for decorating the content  */
      
      li {
            list-style: none;
            cursor: pointer;
      }
      
      a {
            text-decoration: none;
      }
      
      hr {
            color: black;
            size: 10px;
      
            border: 3px solid black;
      }
      
      #para {
            font-size: 30px;
      }
      
      
      
      /*  this is the end of the design  */
      

      /*  this is the start main designing */
      
      nav {
           
           
            background-color: rgb(247, 215, 172);
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
      
      }
      
      
      
       nav p {
            font-size: 70px;
            
      }
      
      nav ul {
            display: flex;
            gap: 30px;
            font-family: "Poppins", sans-serif;
      }
      
      
      
      /*  this is the first background setup  */
      .nature {
      
            height: 1500px;
            
            background-image: url(./assets/busstand.png);
            background-repeat: no-repeat;
            background-size: 1530px 1500px;
            
      }
      
      .nature p {
            margin-left: 100px;
            font-size: 70px;
            color: orangered;
            font-weight: 600;
      }
      
      
      


      .nature {

            height: 1500px;
            
            background-image: url(./assets/busstand.png);
            background-repeat: no-repeat;
            background-size: 1530px 1500px;
            
      }


      #about {
            font-size: 25px;
            font-weight: 300;
            color: black;
            background-color: rgb(180, 224, 224);
            border-radius: 8px;
            padding: 5px;
            border: 1px solid black;
      }
      
      #contact {
            font-size: 25px;
            font-weight: 300;
            color: black;
            background-color: rgb(180, 224, 224);
            border-radius: 8px;
            padding: 5px;
            border: 1px solid black;
      }
      
      



      #photo1 {
      
            height: 500px;
            
      }
      
      .photo #photo2 {
            
            height: 500px;
            width: 500px;
            margin-left: 200px;
           
      }
      
      .photo #photo3 {
            
            height: 500px;
            width: 500px;
            margin-left: 400px;
      
      }
      
      .photo #photo4 {
            height: 500px;
            width: 500px;
            margin-left: 600px;
            
      }

      
      

}



footer p {
      font-family: "Poppins", sans-serif;
      text-align: center;
}


