/*
    this is the for only mobile responsive design
*/

@media (max-width: 600px) {





      
    body {
        margin: 0;

    }

    #photo1 {
      
        height: 400px;
        width: 400px;    
  }
  
  .photo #photo2 {
        
        height: 400px;
        width: 400px;
               
  }
  
  .photo #photo3 {
        
        height: 400px;
        width: 400px;
        
  
  }
  
  .photo #photo4 {
        height: 400px;
        width: 400px;
            
  }

} 
